.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra toda la pantalla */
  z-index: -1; /* Envía la imagen detrás de otros elementos */
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: transparent; /* Fondo transparente */
  border-radius: 10px; /* Esquinas redondeadas */
  max-width: 400px; /* Opcional: Limita el ancho del contenedor */
  margin: auto; /* Centra el contenedor horizontalmente */
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  margin: 50px 0; /* Espacio arriba y abajo */
}

.logo {
  width: 240px; /* Ajusta el tamaño según sea necesario */
  height: auto; /* Mantiene la proporción */
}

.logo-container h2 {
  color: rgba(70, 70, 70, 0); /* Si quieres que el texto no se vea */
}

.login-container h2 {
  color: rgb(73, 73, 73); /* Color para "Ingreso de Usuario" */
}

ion-item {
  --background: rgba(119, 119, 119, 0.247); /* Fondo semi-transparente para los campos de entrada */
 /* Bordes redondeados */
}


