<ion-header>
</ion-header>

<ion-content>
  <img src="assets/duocuc.jpg" class="background-image" alt="Fondo" />
  
  <div class="logo-container">
    <img src="assets/logoduoc.png" alt="Logo" class="logo" /> 
  </div>
  
  <div class="login-container">
    <h2>Ingreso de Usuario</h2>
    <form (submit)="login()">
      <ion-item>
        <ion-label position="floating">Nombre de Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="username" name="username" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
      </ion-item>
      <ion-button expand="full" type="submit">Ingresar</ion-button>
      <ion-button expand="full" color="light" routerLink="/restablecer-clave">Restablecer Contraseña</ion-button>
    </form>
    <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>
  </div>
</ion-content>
