.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.content-wrapper {
  text-align: center;
}

.qr-image {
  width: 200px; /* Ajusta el tamaño según sea necesario */
  height: auto;
  margin-bottom: 16px; /* Espaciado entre la imagen y el texto */
}

.qr-text {
  font-size: 18px; /* Ajusta el tamaño de la fuente según sea necesario */
  color: #ffffff; /* Color blanco */
}

ion-toolbar ion-title {
  color: #ffffff; /* Asegúrate de que el título en el toolbar también sea blanco */
}

ion-content {
  background-image: url('../../assets/duocuc.jpg'); /* Ajusta la ruta a dos niveles arriba */
  background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* No repite la imagen */
  height: 100%; /* Asegúrate de que el contenido cubra toda la altura */
}
