<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registrar Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="center-content">
  <div class="content-wrapper">
    <img src="assets/codqr.png" alt="QR imagen" class="qr-image">
    <p class="qr-text">Escanea el QR para registrar asistencia</p>
  </div>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registrar Asistencia</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
