ion-toolbar {
    background-color: rgba(241, 241, 241, 0); /* Fondo oscuro y semi-transparente para el toolbar */
  }
  
  ion-title {
    color: rgb(202, 200, 76); /* Cambia el color del título a blanco */
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra toda la pantalla */
    z-index: -1; /* Envía la imagen detrás de otros elementos */
  }
  
  .welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(143, 160, 80, 0); /* Fondo blanco semi-transparente para mejorar la legibilidad */
    border-radius: 5px; /* Esquinas redondeadas */
    max-width: 300px; /* Limita el ancho del contenedor */
    margin: auto; /* Centra el contenedor horizontalmente */
    max-height: 600px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255); /* Cambia el color si lo deseas */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombreado: desplazamiento y color */
  }
  
  p {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Sombreado para el párrafo */
  }
  
  .logo {
    max-width: 150px; /* Ajusta el tamaño del logo */
    height: auto; /* Mantiene la proporción del logo */
  }

  
  ion-button:hover {
    background-color: #c9c9c9; /* Color de fondo en hover (azul más oscuro) */
    display: block; /* Hace que el botón sea un bloque */
    width: 80%; /* Asegura que el botón ocupe el 100% del contenedor */
    margin: 5px 0; /* Margen vertical más pequeño entre botones */
    font-size: 13px; /* Tamaño de fuente del texto en el botón */
    padding: 8px 10px; /* Espaciado interno más reducido */
  }
  
  

  