<ion-header [translucent]="true">
  <div class="logo-container" style="text-align: center; padding: 10px;">
    <img src="assets/logoduoc.png" alt="Logo" class="logo" />
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="assets/fondoduoc3.jpg" class="background-image" alt="Fondo" />
  <div class="welcome-container">
    <h1>¡Bienvenido a RegistrAPP!</h1>
    <p>Esta aplicación te permite registrar tu asistencia de manera sencilla y rapida.</p>

    <ion-button expand="full" routerLink="/mis-asignaturas">Mis Asignaturas</ion-button>
    <ion-button expand="full" routerLink="/mis-asistencias">Mis Asistencias</ion-button>
    <ion-button expand="full" routerLink="/registrar-asistencia">Registrar Asistencia</ion-button>
    <ion-button expand="full" routerLink="/cambiar-clave">Cambiar Clave</ion-button>
  </div>
</ion-content>
